@media (min-width: 375px) {}

@media (min-width: 576px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1180px;
  }

}

@media (min-width: 1300px) {
  .custom-container {
    max-width: 1280px;
  }

}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1368px;
  }
}

@media (min-width: 1700px) {
  .custom-container {
    max-width: 1615px;
  }

}

@media (max-width: 1800px) {
  .banner-section h1 {
    font-size: 85px;
  }

  .about-text {
    top: 8%;
  }
}

@media (max-width: 1750px) {
  .about-text {
    top: 6%;
  }
}

@media (max-width: 1700px) {
  .banner-section h1 {
    font-size: 80px;
  }

  .key-box h3 {
    font-size: 25px;
  }

  .key-box h3 span {
    font-size: 40px;
  }

  .bg-title {
    font-size: 2.7rem;
  }

  .awards-text {
    padding: 25px 10px;
  }

  .awards-card h5 {
    font-size: 13px;
  }

  .senior-box {
    gap: 10px !important;
  }

  .senior-cards {
    padding-left: 15px;
  }

  .sol-road {
    left: -25%;
  }

  .node-content p {
    font-size: 14px;
  }

  .core-rings {
    width: 300px;
    height: 300px;
  }

  .core-icon {
    width: 150px;
    height: 150px;
  }.ststaa h3 span{
    font-size: 30px;
  }.ststaa h3 {
    font-size: 18px;
}
}

@media (max-width: 1650px) {
  .banner-section h1 {
    font-size: 75px;
  }

  .about-text {
    top: 5%;
  }

  .high {
    font-size: 18px;
  }

  .chairman-stat-card {
    padding: 25px;
  }

  .chairman-quote-card blockquote {
    font-size: 18px;
  }#chartdiv {
    height: 460px;
}
}

@media (max-width: 1600px) {
  .banner-section h1 {
    font-size: 70px;
  }

  .chairman-icon img {
    width: 690px;
  }

  .senior-box .senior-icon {
    width: 20px;
  }

  .sol-road {
    left: -30%;
  }.timeline-content li::before{
    width: 64.75px;
  }.c-padding{
    padding: 35px!important;
  }
}

@media (max-width: 1500px) {
  .high {
    font-size: 16px;
  }

  .chairman-icon img {
    width: 700px;
  }

  .core-rings {
    width: 250px;
    height: 250px;
  }

  .core-icon {
    width: 100px;
    height: 100px;
  }

  .core-icon img {
    width: 50px;
  }
}

@media (max-width: 1440px) {

  .navbar-brand img {
    height: 45px;
  }

  .banner-text-wrapper {
    padding-bottom: 115px;
  }

  .banner-section {
    padding-top: 65px;
  }

  .banner-text {
    padding: 50px 35px;
    border-radius: 50px;
  }

  .high {
    font-size: 16px;
  }

  .about-text {
    right: 5%;
    width: 35%;
  }

  .main-title,
  .bg-title {
    font-size: 2.5rem;
  }

  .investment-box {
    padding: 50px;
  }

  .banner-section h1 {
    font-size: 70px;
  }

  .banner-section h2 {
    font-size: 40px;
  }

  .body-message {
    padding: 25px 25px;
    background: #ffffffcb;
  }

  .modal-quote {
    padding: 15px;
  }

  .body-message p {
    font-size: 14px;
  }

  .journeySwiper .swiper-slide-active .planet {
    width: 200px;
    height: 200px;
  }

  .planet {
    width: 120px;
    height: 120px;
  }

  .planet h3 {
    font-size: 35px;
  }

  .journeySwiper .swiper-slide {
    /* height: 436px; */
  }

  .content li {
    font-size: 14px;
  }

  .journeySwiper .swiper-slide-prev .planet,
  .journeySwiper .swiper-slide-next .planet {
    width: 150px;
    height: 150px;
  }

  .custom-container2 {
    padding-left: 59.5px;
  }

  .axis {
    top: 34%;
  }

  .content {
    padding: 10px;
  }



  .ceo-head h2 {
    font-size: 2.5rem;
  }

  .custom-container3 {
    padding-right: 59.5px;
  }

  .senior-cards {
    padding: 15px;
  }

  .awards-card h5 {
    font-size: 12px;
  }

  .spread-award .awards-card h5 {
    font-size: 15px;
  }
}

@media (max-width: 1400px) {
.ststaa{
  padding: 15px;
}
  .senior-box {
    gap: 5px !important;
  }

  .senior-box .senior-icon {
    width: 15px;
  }

  .sol-road {
    left: -32%;
  }    #chartdiv {
        height: 440px;
    }
}

@media (max-width: 1300px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }

  .sol-road {
    left: -36%;
  }    #chartdiv {
        height: 420px;
    }
}

@media (max-width: 991px) {

  .side-menu {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--black);
    height: 100dvh;
    width: 56%;
    transform: translateX(-70%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
    display: block;
    visibility: hidden;
    padding: 25px;
    z-index: 99999;
  }

  .navbar-toggler {
    border-color: var(--black);
    border-radius: 50px;
  }



  .side-menu.show {
    transform: translateX(0);
    visibility: visible;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .side-menu .nav-item .nav-link {
    display: block;
    width: 100%;
    padding: 12px 0 !important;
    border-bottom: 1px solid #ffffff85;
    color: #fff;
    font-size: 16px;
  }

  .header-overlay {
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    background: #000;
    background: #000000c2;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .header-overlay.show {
    transform: translateX(0%);
  }


}

@media (max-width: 600px) {
  .custom-container {
    padding-left: 12px;
    padding-right: 12px;
  }


  .main-title {
    font-size: 30px;
  }

  .main-title br {
    display: none;
  }
}

@media (max-width: 430px) {}

@media (max-width: 414px) {}

@media (max-width: 390px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}
